.about {
    background: #F7F5F1;
    padding: 120px 375px;
    &-heading {
        margin-bottom: 20px;
        text-align: center;
    }
    &-desc {
        margin-bottom: 120px;
        text-align: center;
    }
    &-sections {
        display: flex;
        flex-direction: column;
        gap: 150px 0;
    }
    &-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 130px;
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
    &-section-content {
        max-width: 570px;
    }
    &-section-heading {
        margin-bottom: 30px;
    }
    &-section-desc {
        font-size: 18px;
        line-height: calc(28/18);
        margin-bottom: 50px;
    }
    &-items {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &-item {
        display: flex;
        align-items: flex-start;
        gap: 13px;
    }
    &-item-title {
        font-weight: bold;
        color: $heading-color;
        letter-spacing: 0.4px;
        margin-bottom: 10px;
    }
    &-item-desc {
        line-height: calc(28/16);
    }
    &-button {
        display: inline-block;
        margin-top: 70px;
        padding: 16px 32px;
    }
}