.footer {
    padding: 100px 0 27px;
    background-color: $bg-color-footer;
    &-top {
        display: flex;
        justify-content: space-between;
    }
    &-logo {
        display: flex;
        align-items: center;
        gap: 0 10px;
        color: white;
    }
    &-column {
        flex-shrink: 0;
        &:last-child {
            max-width: 370px;
        }
    }
    &-heading {
        margin-bottom: 20px;
        font-size: 22px;
        line-height: calc(32/22);
        letter-spacing: -1px;
        color: white
    }
    &-item {
        margin-bottom: 10px;
    }
    &-item-link {
        text-transform: uppercase;
        font-size: 14px;
        line-height: calc(24/14);
        color: $text-color-gray;
        margin-bottom: 10px;
        letter-spacing: -0.3px;
    }
    .newsletter {
        &-desc {
            color: $text-color-gray;
            margin-bottom: 25px;
        }
        &-form {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 0 6px;
            margin-bottom: 15px;
        }
        &-input {
            all: unset;
            flex: 1;
            width: 100%;
            padding: 10px 18px;
            font-size: 16px;
            border-radius: 5px;
            outline: none;
            background-color: $text-color-gray;
            color: $primary-text-color;
        }
        &-button {
            flex-shrink: 0;
            font-size: 14px;
            padding: 12px 40px;
        }
        &-note {
            margin-bottom: 100px;
            color: $text-color-gray;
        }
    }
    .copyright {
        line-height: calc(26/16);
        color: #E7E5EA;
        max-width: 670px;
    }
    &-bottom {
        padding-top: 27px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 304px;
        border-top: 1px $primary-text-color solid;
    }
    &-social {
        display: flex;
        align-items: center;
        gap: 0 20px;
        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 52px;
            height: 52px;
            border-radius: 100rem;
            background-color: $primary-color;
        }
    }
}

@media screen and (max-width: 767.98px) {
    .footer {
        padding: 30px 0 27px;
        &-top {
            flex-direction: column;
            gap: 20px;
        }
        &-bottom {
            flex-direction: column;
        }
        .newsletter-note {
            margin-bottom: 40px;
        }
    }
    .copyright {
        margin-bottom: 20px;
    }
}
