.hero {
    margin-top: 86px;
    position: relative;
    &-container {
        display: flex;
        align-items: center;

    }
    &-content {
        max-width: 770px;
        width: 100%;
    }
    &-heading {
        max-width: 690px;
        margin-bottom: 40px;
        span {
            background: linear-gradient(91.79deg, #857FFF 32.21%, #FFC0EC 83.79%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            // text-fill-color: transparent;
        }
    }
    &-desc {
        margin-bottom: 72px;
        max-width: 580px;
    }
    &-links {
        display: flex;
        align-items: center;
        gap: 0 10px;
    }
    &-started {
        padding: 16px 32px;
    }
    &-play {
        display: flex;
        gap: 0 7px;
        align-items: center;
    }
    &-icon-play {
        border-radius: 100rem;
        width: 52px;
        height: 52px;
        background-color: white;
        box-shadow: 0px 5px 20px rgba(18, 2, 47, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-play-text {
        font-size: 15px;
        text-transform: uppercase;
        color: $heading-color;
        font-weight: 500;
    }
}

@media screen and (max-width: 767.98px) {
    .hero {
        margin-top: 40px;
    }
    .hero-container {
        flex-direction: column;
        gap: 40px;
    }
    .hero-desc {
        margin-bottom: 40px;
    }
}
