.partner {
    margin-top: 120px;
    margin-bottom: 120px;
    &-heading {
        text-align: center;
        margin-bottom: 80px;
    }
    &-list {
        display: flex;
        align-items: center;
        gap: 0 105px;
        justify-content: center;
    }
}

@media screen and (max-width: 767.98px) {
    .partner {
        margin-top: 80px;
        margin-bottom: 100px;
    }
    .partner-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;  
    }
}
