.portfolio {
    margin-top: 120px;
    margin-bottom: 118px;
    &-heading {
        max-width: 970px;
        font-size: 42px;
        line-height: calc(50/42);
        letter-spacing: -2px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 100px;
    }
    &-title {
        margin-top: 30px;
    }
    &-item {
        color: $primary-color;
        display: flex;
        text-decoration: none;
        gap: 30px;
        line-height: calc(32/22);
        letter-spacing: -1px;
        font-size: 22px;
        &:first-child {
            grid-column: 1 / span 7;
        }
        &:nth-child(2) {
            grid-column: 8 / -1;
        }
        &:nth-child(3) {
            grid-column: 1 / span 5;
        }
        &:nth-child(4) {
            grid-column: 6 / -1;
        }
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 50px 30px;
    }
}

@media screen and (max-width: 767.98px) {
    .portfolio {
        margin-top: 60px;
        margin-bottom: 50px;
    }
    .portfolio-heading {
        margin-bottom: 70px;
    }
    .portfolio-list {
        gap: 30px 15px;
    }
}