$font: 'Outfit', sans-serif;
$primary-text-color: #7B88A8;
$secondary-text-color: #788190;
$text-color-gray: #E7E5EA;
$heading-color: #2D3958;
$text-font: 'DM Sans', sans-serif;

// 
$primary-color: #4F77FF;
$bg-color: #F7F5F1;
$bg-color-footer: #292F3A;